<h1>Mes réservations</h1>

<div class="d-flex justify-content-start align-content-between flex-wrap">
  <% @bookings.each do |booking| %>
      <div class="card m-2" style="width: 12rem;">
        <%# <img class="card-img-top" src="https://picsum.photos/300/100" alt=""> %>
        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <%# <h5 class="card-title">Titre</h5> %>
            <div class="my-1"><%= booking.status %></div>
          </div>
          <p class="card-text"><%= booking.start_date %> - <%= booking.end_date %></p>
          <div>
            <div><%= link_to "Détails", booking_path(booking), class: "my-1 btn btn-primary"%></div>
            <%= link_to "Annuler la réservation", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking ?"}, class: 'text-danger' %>          </div>
        </div>
      </div>
  <% end %>
</div>

<div><%= link_to "Trouver un appareil à raclette", raclettes_path, class: "btn btn-secondary"%></div>
