<div class="d-flex justify-content-center my-5">
 <div class="card shadow p-5" style="width: 600px; border-radius: 7px;">
   <h1 class="text-center mb-4">Ma réservation</h1>
   <div class="mb-3">
     <strong>Dates :</strong>
     <%= @booking.start_date.strftime("%d %b %Y") %> - <%= @booking.end_date.strftime("%d %b %Y") %>
   </div>
   <div class="mb-4">
     <strong>Statut :</strong> <%= @booking.status %>
   </div>
   <div class="d-flex justify-content-between mb-4">
     <%= link_to "Voir l'appareil réservé", raclette_path(@raclette), class: "btn btn-primary", style: "border-radius: 4px;"%>
     <%= link_to "Annuler la réservation",
         booking_path(@booking),
         data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking ?"},
         class: 'btn btn-outline-danger',
         style: "border-radius: 4px;" %>
   </div>
   <div class="text-center">
     <%= link_to "Toutes mes réservations", bookings_path, class: "btn btn-red"%>
   </div>
 </div>
</div>
