<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://assets.afcdn.com/story/20200124/2038604_w8272h4656cx4136cy2328cxt0cyt0cxb8272cyb4656.jpg); background-size: cover; background-position: center; display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <div class="container text-center text-white">
    <img src="https://res.cloudinary.com/dpvyuykw6/image/upload/v1733327413/logo-large-white_zbpami.png" alt="Racletten Logo" class="img-fluid mb-4" style="max-width: 200px;">

    <h1>Organisez une Raclette, simplement !</h1>
    <p>Louez votre appareil à Raclette, en quelques clics seuleument!</p>
  </div>

  <div class="search-form mt-4" style="background-color: rgba(255, 255, 255, 0.8); padding: 2rem; width: 100%; max-width: 800px;">
    <%= form_with url: raclettes_path, method: :get, local: true do |f| %>
      <div class="d-flex justify-content-evenly">
        <div>

          <div>
            <%= f.label :city, "Où es-tu ?" %>
            <%= text_field_tag :city,
                params[:city],
                class: "form-control",
                placeholder: "Trouve ta ville"
            %>
          </div>

          <div>
            <%= f.label :capacity, "Pour combien ?" %>
            <%= text_field_tag :capacity,
              params[:capacity],
              class: "form-control",
              placeholder: "Plus on est de fous moins on a de patates"
          %>
          </div>

        </div>
        <div>

          <div>
            <%= f.label :start_date, "C'est pour quand ?" %>
            <div>
              <%= f.date_field :start_date, class: "form-control", min: Date.today %>
              <%= f.date_field :end_date, class: "form-control", min: Date.today %>
            </div>
          </div>

          <div>
            <%= f.submit "Régale-moi !", class: "btn btn-primary w-100" %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
