<div class="container-fluid py-4">
  <h1 class="my-5">Les machines raclettes</h1>
  <div class="row gx-5 align-items-start">

    <!-- Liste des raclettes -->
    <div class="col-lg-8" id="raclette-list">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% @raclettes.each do |raclette| %>
          <div class="col">
            <%= link_to raclette_path(raclette), class: "text-decoration-none" do %>
              <div class="flip-card">
                <div class="flip-card-inner">
                  <!-- Face avant -->
                  <div class="flip-card-front">
                    <%= image_tag raclette.photo.attached? ? raclette.photo : "raclette-placeholder.webp", class: "card-img-top", alt: "machine-img", style: "height: 200px; width: 100%; object-fit: cover" %>
                    <div class="capsules">
                      <div class="capsule" style="background-color: #FF5A5F; color: white;"><%= raclette.category %></div>
                      <div class="capsule" style="background-color: #FF5A5F; color: white;"><%= raclette.capacity %> places</div>
                      <div class="capsule" style="background-color: #FF5A5F; color: white;"><%= raclette.price %>€</div>
                    </div>
                  </div>
                  <!-- Face arrière -->
                  <div class="flip-card-back" style="padding: 1rem; background-color: #f8f9fa; text-align: center;">
                    <h5 class="card-title mb-2 text-capitalize"><%= raclette.category %></h5>
                    <p class="card-text mb-1 text-muted">
                    </p>
                    <p class="card-text"><%= raclette.description %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-4 d-flex">
      <div id="map"
           style="width: 100%; height: 90vh; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border: 1px solid #e0e0e0;"
           data-controller="map"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
           data-map-markers-value="<%= @markers.to_json %>">
      </div>
    </div>

  </div>
</div>
