<div class="container">
<h1>Raclettes</h1>

<div class="cards-container">
  <% @raclettes.each do |raclette| %>
    <%= link_to raclette_path(raclette) do %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="capsules sticky-bottom">
            <div class="capsule"><%= raclette.category %></div>
            <div class="capsule"><%= raclette.capacity %> places</div>
            <div class="capsule"><%= raclette.price %>€</div>
          </div>
        </div>
        <div class="flip-card-back">
          <p><%= raclette.description %></p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

</div>
